.body {
    -fx-background-color: #f5f5f5;
}

#mainApp {
    -fx-alignment: center !important;
    -fx-translate-x: 50px;
}

NodeBox {
    -fx-padding: 10px;
    -fx-pref-width: 300px;
    -fx-spacing: 0;
    -fx-alignment: center_right !important;
}

.taskNode {
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-padding: 10px !important;
    -fx-background-radius: 15px !important;
}

.taskNode > VBox {
    -fx-alignment: bottom_center;
}

.taskNode > VBox > #nodeDescription {
    visibility: hidden;
}

.taskNode> VBox > #nodeTitle {
    -fx-font-size: 12px !important;
}

.taskNode:hover > VBox > #nodeDescription {
    visibility: visible !important;
}

.taskNode:hover > VBox {
    -fx-alignment: center;
}

#toDoSection VBox, #toDoSection {
    -fx-alignment: center_right;
}

#toDoSection HBox {
    -fx-background-color: #e8e8e8;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center_left;
    -fx-background-radius: 20px;
    -fx-max-height: 30px;
}

Text {
    -fx-font-size: 10px;
}

ScrollPane {
    -fx-max-width: 400px;
    -fx-min-width: 380px;
    -fx-background: transparent;
    -fx-max-height: 500px;
    -fx-vbar-policy: never;
    -fx-hbar-policy: never;
    -fx-alignment: center_right;
}

#nodeTitle {
    -fx-font-family: "PT Sans";
    -fx-font-size: 14px;
}

.createNewTaskArea {
    -fx-spacing: 5px;
    -fx-padding: 20px;
    -fx-alignment: center !important;
}

.createNewTaskArea > * {
    -fx-alignment: center !important;
    -fx-border-width: 5;
    -fx-translate-x: -50;
}

TextField{
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-text-alignment: center;
    -fx-max-height: 20px;
}

#textContainer {
    -fx-alignment: center_left;
}

CheckBox {
    -fx-max-width: 30px;
    -fx-min-width: 20px;
    -fx-max-height:  30px;
    -fx-min-height:  20px;
}